# Mandatory environment variables
GOOGLE_API_KEY=
PINECONE_API_KEY=

# Default values for optional environment variables
GOOGLE_LLM_MODEL=models/gemini-2.5-flash
PINECONE_INDEX=horrocruxes-index

AWS_REGION=us-east-1
S3_BUCKET=horrocruxes-data
S3_PDF_PREFIX=data/books
S3_CSV_PREFIX=data/structured
EMBEDDING_DEVICE=cpu
EMBEDDING_PROVIDER=sentence-transformers
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
KAGGLE_DATASET=gulsahdemiryurek/harry-potter-dataset
KAGGLE_DOWNLOAD_DIR=./data/kaggle


# Optional for tracking and monitoring
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=